{% assign heading = section.settings.headline %}
{% case section.settings.grid %}
    {% when 2 %}
        {%- assign max_height = 530 -%}
        {%- assign grid_item_width = 'col-6' -%}
    {% when 3 %}
        {%- assign max_height = 345 -%}
        {%- assign grid_item_width = 'col-6 col-sm-4 col-lg-4' -%}
    {% when 4 %}
        {%- assign max_height = 250 -%}
        {%- assign grid_item_width = 'col-6 col-sm-6 col-md-3' -%}
{% endcase %}
{% assign collection = collections[section.settings.collection] %}
{% assign limit = 4 %}
<div class="product-recommendations">
  <div class="product-recommendations__inner page-width" 
    data-base-url="{{ routes.product_recommendations_url }}" 
    data-product-id="{{ product.id }}" 
    data-limit="{{ limit }}" 
    data-section-id="{{ section.id }}" 
    data-section-type="product-recommendations">
      <div class="product-recommendations__head section__head">
        <h1>{{ heading }}</h1>
      </div>
      <div class="product-recommendations__body section__body">
        <div class="grid row">
          {% for product in recommendations.products %}
            <div class="grid__item {{ grid_item_width }}">
              {% render 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
{% schema %}
{
  "name":"Product recommendations",
  "settings":[
    {
      "type":"range",
      "id":"grid",
      "label":"Products per row",
      "min":2,
      "max":4,
      "step":1,
      "default":3
    },
    {
      "type":"text",
      "id":"headline",
      "label":"Headline",
      "default":"You may also like"
    },
    {
      "type":"checkbox",
      "id":"show_vendor",
      "label":"Show product vendors",
      "default":false
    }
  ]
}
{% endschema %}